<!doctype html>
<html>
<head>
  <title>Hi There!</title>
</head>
<body>

<h1>Hi There!</h1>

<form action="/person">
    Name a person <input type="text" name="person">
    <input type="submit">
</form>

<form action="/color">
    Name a color <input type="text" name="chosen_color">
    <input type="submit">
  </form>

  <form action="/noun">
    Choose a noun <input type="text" name="chosen_noun">
    <input type="submit">
  </form>

  <form action="/adjective">
    Choose an adjective <input type="text" name="chosen_adjective">
    <input type="submit">
  </form>


</body>
</html>